////
/// @group _Config
////

/*
 * Site variables
 *
 * Note: 
 * Make sure to use underscores '_' for baseline vars 
 * to easily identify them from other frameworks that tend to use dashes '-' for vars
 */

/// Get the brand we want
@if variable-exists(selected_brand) {
	@include set_brand_vars($selected_brand);
} @else {
	$selected_brand: $brand_default;
	@include set_brand_vars($selected_brand);
}

/* 
 * File paths 
 */

/// Relative path to all asset files to be referenced within CSS
$path_assets:						"../..";  
/// Relative path to image assets to be referenced within CSS
$path_img:							"#{$path_assets}/_app/img";
// /// Relative path to icon font assets to be referenced within CSS
// $path_icon_fonts:					"#{$path_assets}/_app/font";

/*
 * Responsive config
 */

/// Breakpoints map
/// These provide known points at which to adpat layout
/// They are mapped as keys from mixins that map other values to output at the specified breakpoints
/// We do not provide a 'default' as these are referenced as 'default' in linked maps
$breakpoints: (
	base:							480px,  // average large mobile
	small:							600px,  // average tablet portrait
	medium:							900px,  // average tablet landscape
	large:							1200px, // average laptop
	extra_large:					1800px  // average large monitor
);

/* 
 * Z-Index mapping
 */

$z_indices: (
	bottom:							10,   // Knock below
	mid:							100,  // Default - where the map sites
	top:							200,  // Knock above - where map markers sit
	sticky:							1000, // For all sticky elements - where the overlays sits
	nav:							1010, // For the main nav which has to overlay sticky elements - where the header and footer tools sit
	overlay:						9999 // For anything that has to overlay everything else 
);

/* 
 *	Grid settings
 */

/// The standard gutter between elements
$spacing_gutter:					10px;
/// Spacings must be specified with keys from $breakpoints
$spacings: (
	default:						$spacing_gutter, // Default not mapped to breakpoints
	// base:							30px,
	small:							$spacing_gutter*2,
	medium:							$spacing_gutter*3,
	large:							$spacing_gutter*5,
	// extra_large:					80px
);
/// Fixed header heights across breakpoints
$header_heights: (
	default:						60px, // Default not mapped to breakpoints
	small:							75px
);
/// Fixed header heights across breakpoints
$footer_heights: (
	default:						60px, // Default not mapped to breakpoints
	small:							80px
);

/* 
 *	Common colour settings not depedent on brand
 */

/// Default Body copy colour
$clr_body:							#4C4F59;
/// Body background colour - also works as the ap back ground 'sea' colour
$clr_body_bg:						#97B8D8;//#73D2DE;

/// Accent colour, used to highlight elements
$clr_accent:						$clr_tertiary;
/// Colour of text when used on top of $clr_accent
$clr_accent_textoverlay:			$clr_tertiary_textoverlay;
/// Colour of links when used on top of $clr_accent
$clr_accent_linkoverlay:			$clr_accent_textoverlay;

/// Highlight colour, used to call out elements
$clr_highlight:						#EDEDED;
/// Colour of text when used on top of $clr_highlight
$clr_highlight_textoverlay:			$clr_body;
/// Colour of links when used on top of $clr_highlight
$clr_highlight_linkoverlay:			$clr_highlight_textoverlay;

/// Colour for touch interaction element overlay on certain mobile devices
$clr_tap:							rgba(200,200,200,.2);

/* 
 * Core type colours 
 */

/// Colour for all H1-H6 elements
$clr_headings:						$clr_body;
/// Colour for all copy, unless overridden
$clr_text:							$clr_body;
/// Colour for all links, unless overridden
$clr_link:							$clr_primary;
/// Colour for all links hover state, unless overridden
$clr_link_hover:					darken($clr_link, 10%);

/* 
 * Typography 
 */

/// Font face map
$fonts: (
	primary:						#{'Roboto', sans-serif},
	secondary:						#{'Roboto Slab', serif}
);
/// Font weights map
$font_weights: (	
	thin:							100,
	light:							300,
	regular:						400,
	medium:							500,
	bold:							700
);

/// Responsive Type map - H1
$type_map_h1: (
	default: 						24,
	small:							36
);
/// Responsive Type map - H2
$type_map_h2: (
	default: 						30,
	small:							40,
	medium:							40
);
/// Responsive Type map - H3
$type_map_h3: (
	default: 						18,
	small:							23
);
/// Responsive Type map - H4
$type_map_h4: (
	default: 						22
);
/// Responsive Type map - H5
$type_map_h5: (
	default: 						20
);
/// Responsive Type map - H6
$type_map_h6: (
	default: 						19
);
/// Responsive Type map - Body
$type_map_body: (
	default: 						18
);
/// Responsive Type map - Smaller variant of Body
$type_map_body_small: (
	default: 						19
);
/// Responsive Type map - Tiny text for legals etc
$type_map_body_tiny: (
	default: 						10,
	small:							14
);

/// Font family for all H1elements
$font_h1:							map-get($fonts, secondary);
/// Font family for all H2 - H6 elements
$font_header:						map-get($fonts, primary);
/// Font family for all non-header elements
$font_body:							map-get($fonts, primary);

/// Font weight for all non-header elements
$type_weight_body:					map-get($font_weights, regular);
/// Font Line-height for all non-header elements
$type_line_height_body:				1.5;

/// Font weight for all H1 - H6 elements
$type_weight_headings:				map-get($font_weights, thin);
/// Font Line-height for all H1 - H6 elements
$type_line_height_headings:			1.1;

/// Font weight for all H1 - H6 elements
$type_weight_h1:					map-get($font_weights, bold);
/// Font Line-height for all H1 - H6 elements
$type_line_height_h1:				1.1;

/// Standardises spacing between content elements
$type_spacing_between:				2.1em; // Between <p> <ul> etc
/// Standardises spacing between content element children
$type_spacing_internal:				.7em; // Between <li>  etc

/* 
 * Tables 
 */
$table_cell_padding:				.7em;
$table_cell_padding_condensed:		$table_cell_padding / 2;
$table_clr_bg: 						transparent;
$table_clr_accent:					$clr_accent;
$table_clr_hover:					darken($clr_highlight,2);
$table_clr_highlight:				$clr_highlight;
$table_clr_border:					darken($clr_highlight,15);


