p,
ul,
ol,
li, 
dl, 
blockquote, 
pre, 
address, 
label,
legend,
input, 
select,
textarea, 
button,
th, 
td, 
code,
figure {
	margin:  0 0 $type_spacing_between 0;
}
dt, 
dd {
	margin:  0 0 $type_spacing_internal 0;
}
ul,
ol {
	ul,
	ol {
		margin-top: $type_spacing_internal;
		margin-bottom: $type_spacing_internal/2;
	}
	li {
		margin: 0 0 $type_spacing_internal 0;
	}
}

code {
	display: inline-block;
}

blockquote {
	@include set_fontsize($type_map_h2);
	font-weight: $type_weight_headings;
	line-height: 1.4;

	p {
		margin-bottom: $type_spacing_internal;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
	a {
		font-weight: normal;
	}
	cite,
	footer {
		margin-top: $type_spacing_internal;
		font-style: normal;
		font-weight: map-get($font_weights, bold);
		@include set_fontsize($type_map_body_small);
	}
}

h1,
h2,
h3,
h4,
h5,
h6, {
	font-family: $font_header;
	font-weight: $type_weight_headings;
	line-height: $type_line_height_headings;
	margin: 0 0 $type_spacing_internal 0;
	color: $clr_headings;
	@include wrap_text;

	a,
	a[href] {
		color: inherit;
		border-width: 0;

		&:hover,
		&:active,
		&:focus {
			color: inherit;
			border-width: 2px;
			border-color: inherit;
		}
	}
}
h1 {
	margin: 0;
	@include set_fontsize($type_map_h1);
	font-family: $font_h1;
	font-weight: $type_weight_h1;
	line-height: $type_line_height_h1;
	color: $clr_primary;
}
h2 {
	@include set_fontsize($type_map_h2);
}
h3 {
	@include set_fontsize($type_map_h3);
	font-weight: map-get($font_weights, medium);
}
h4 {
	@include set_fontsize($type_map_h4);
}
h5 {
	@include set_fontsize($type_map_h5);
}
h6 {
	@include set_fontsize($type_map_h6);
}

/* Make it a bit nice for print because analogue readers are people too */
@include media("print") {
	blockquote,
	code,
	pre,
	figure,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-inside: avoid;
	}
	p,
	li,
	h2,
	h3,
	h4,
	h5,
	h6,
	blockquote {
		orphans: 3;
		widows: 3;
	}
}