html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}
html {
	box-sizing: border-box;
}
body{
	position:relative;
	padding:0;
	font-family: $font_body;
	font-weight: $type_weight_body;
	line-height: $type_line_height_body;
	color: $clr_body;
	background: $clr_body_bg;

	@include set_fontsize();
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import "elements_links";
@import "elements_type";
// @import "elements_images";
@import "elements_tables";

