img {
	display: block;
	max-width: 100%;
	height: auto;
}
a img { 
	border: 0; 
}

figure {

	figcaption {
		position: relative;
		@include set_z_index(mid);
		border-top: 2px solid $clr_secondary;
		background: $clr_body_bg;
		margin-top: -$type_spacing_internal;
		padding-top: $type_spacing_internal / 2;
		padding-right: 1em;
		max-width: 75%;
		line-height: 1.4;
	}

	@include media(">=large") {
		@include negative_horizontal_margin;
		overflow: hidden;

		img {
			float: left;
			width: 70%;
			max-width: 70%;
		}
		figcaption {
			float: right;
			width: 26.5%;
			border-top: 2px solid $clr_secondary;
			background: $clr_body_bg;
			margin-top: 0;
			padding-top: $type_spacing_internal;
			padding-right: 1em;
		}
	}
}