/*
Default table styles
We don't assign too much formatting here as much of the managed content we work with
contains hacked tables for layout that need to be unobtrusive
*/
table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	

	caption {
		@extend h4;
		padding: 0 $table_cell_padding;
	}

	th,
	td {
		padding: $table_cell_padding;
		vertical-align: top;
		border: 0;
	}
	th {
		font-weight: map-get($font_weights, medium);
	}
	td,
	th,
	a,
	p {
		@include wrap_text;
	}

	/*
	We add this class through JS to target tables we want to have more formatting
	*/
	&.table {
		tr,
		th,
		td {
			@include transition_default;
			border-bottom: 1px solid $table_clr_border;

			&.highlight {
				@include apply_brand_colors('accent');
			}
		}
		thead>tr>th,
		thead>tr>td {
			border-bottom: 2px solid $table_clr_border;
		}
		tfoot>tr>th,
		tfoot>tr>td {
			border-top: 2px solid $table_clr_border;
		}
		/* Catch any additional tbodies that have been added */
		tbody{
			@include after-first(1) {
				border-top: 2px solid $table_clr_border;
			}
		}
	}
	&.table.zebra {
		tbody>tr {
			@include odd() {
				background: $table_clr_highlight;

				&.highlight {
					@include apply_brand_colors('accent');
				}
			}
		}
	}
	&.table.hover {
		tbody>tr:hover,
		tbody>tr:active,
		tbody>tr:focus {
			background: $table_clr_hover;

			&.highlight {
				@include apply_brand_colors('accent');
			}
		}
	}
}
/* 
Styles to support scrollable area fix for responsive tables
wrapper and hint are injected through JS
 */
.table-responsive-wrapper {
	overflow: hidden;
	overflow-x: auto;
	// @include mar_b;

	table {
		margin-bottom: 0;
	}
	.overflow_hint {
		display: none;
		margin: 4px 0 4px 0;
		position: absolute;
		right: 0;
		speak: none;
		text-align: right;
		top: 0;
		width: 100%;
	}
	.lower {
		top: auto;
		bottom: -.5em;
	}

	&.overflowing {
		position: relative;
		border-right: 1px dashed #efefef;
		
		.table-responsive {
			padding: 2em 0 0 0;
			border-left: 1px dashed #efefef;
			// width: 100%;
			// overflow: auto;
		}
		.overflow_hint {
			display: block;
			speak: none;
		}
	}

	.cssanimations & {
		.overflow_hint {
			margin-right: -5px;
		}
	}
}