/* 
Target anchors with href specifically 
as T&Cs & privacy policy content is pulled from central CMS 
and contains anchor wrapped copy that picks up default anchor styling 
*/
a {
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

/*
Style for normal anchors with hrefs
*/
a[href] {
	color: $clr_link;
	text-decoration: none;
	// font-weight: map-get($font_weights, bold);
	border-bottom: 1px solid $clr_link;
	@include transition_default;
	@include tap_highlight;
}
a[href]:hover,
a[href]:focus,
a[href]:active {
	color: $clr_link_hover;
	text-decoration: none;
	border-bottom: 2px solid $clr_link_hover;
}
/*  j.mp/webkit-tap-highlight-color */
a[href]:link { 
	@include tap_highlight();
}

/* Anchor for scrolling to #id */
a.anchor {
	display: block;
	position: relative;
	top: -150px;
	visibility: hidden;
}