////
/// @group Layout
////

/// Set all margin and padding to 0
@mixin mp_reset {
	margin: 0;
	padding: 0;
}

/// Strip units so mixed types can be calculated
/// @param {string} $_value
/// @return {int} the input value minus the units
@function strip-units($_value) {
	@return $_value / ($_value * 0 + 1);
}

/// Set a z-index value from the $z_indices map
/// @param {var} $_key [mid] - Key from $z_indices map
@mixin set_z_index($_key: mid) {
	@if map-has-key($z_indices, $_key) {
		z-index: map-get($z_indices, $_key);
	}
}

/// Attempts to avoid element breaking over printed pages
@mixin avoid_break {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}