////
/// @group Typography
////

/// Output px and rem values from px unitless input
/// @param {int} $_sizeValue [19]
@mixin font_size($_sizeValue: 19) {
	font-size: $_sizeValue + px;
	font-size: ($_sizeValue / 10) + rem;
}

/// Output responsive font sizes across breakpoints provided
/// @param {var} $_map [$type_map_body]
@mixin set_fontsize($_map: $type_map_body) {
	// Add default
	@if map-has-key($_map, default) {
		@include font-size(map-get($_map, default));
	}
	// Add for each breakpoint
	@each $_break, $_value in $breakpoints {
		@if map-has-key($_map, $_break) {
			@include media(">=#{$_break}") {
				@include font-size(map-get($_map, $_break));
			}
		}
	}
}

/// Force content to wrap if longer than available space
@mixin wrap_text {
	// white-space: pre-wrap;
	// white-space: -moz-pre-wrap;
	// white-space: -pre-wrap;
	// white-space: -o-pre-wrap;

	overflow-wrap: break-word;
	word-wrap: break-word;

	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
/// Force content to crop and add ellipsis if longer than available space
@mixin ellipsis {
	overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis;
}
