////
/// @group _Brand
////

/// Get the variables from a specified brand map
/// and assign to our global vars
/// @param {obj} $_map [$brand_default] - The name of the brand map
@mixin set_brand_vars($_map: $brand_default) {

	/// Primary brand colour - Main uses: site header, page header, copy links
	$clr_primary:						map-get($_map, 'clr_primary') !global;
	/// Secondary brand colour - Main uses: copy accents, secondary buttons, content pushes
	$clr_secondary:						map-get($_map, 'clr_secondary') !global;
	/// Tertiary brand colour - Main uses: site footer, primary buttons, content pushes
	$clr_tertiary:						map-get($_map, 'clr_tertiary') !global;

	/// Colour of text when used on top of Primary brand colour
	$clr_primary_textoverlay:			map-get($_map, 'clr_primary_textoverlay') !global;
	/// Colour of text when used on top of Secondary brand colour
	$clr_secondary_textoverlay:			map-get($_map, 'clr_secondary_textoverlay') !global;
	/// Colour of text when used on top of Tertiary brand colour
	$clr_tertiary_textoverlay:			map-get($_map, 'clr_tertiary_textoverlay') !global;

	/// Colour of links when used on top of Primary brand colour
	$clr_primary_linkoverlay:			map-get($_map, 'clr_primary_linkoverlay') !global;
	/// Colour of links when used on top of Secondary brand colour
	$clr_secondary_linkoverlay:			map-get($_map, 'clr_secondary_linkoverlay') !global;
	/// Colour of links when used on top of Tertiary brand colour
	$clr_tertiary_linkoverlay:			map-get($_map, 'clr_tertiary_linkoverlay') !global;

}

/// Set background to specified brand colour and contained elements to the appropriate overlap colour
/// Also includes setting non-brand colour [accent,highlight]
/// @param {string} $_type [default] - The name of the brand colour variant [ primary, secondary, tertiary, highlight, accent]
@mixin apply_brand_colors($_type: default) {

	@if not $clr_primary {
		@include get_brand_vars();
	}

	// Pick up the default set from _vars_global.scss
	$_background:	$clr_body_bg;
	$_text:			$clr_text;
	$_headings:		$clr_headings;
	$_links:		$clr_link;

	// Override if we know the brand type
	// Ok so it's not elegant
	@if $_type == "primary" {
		$_background:	$clr_primary;
		$_text:			$clr_primary_textoverlay;
		$_headings:		$clr_primary_textoverlay;
		$_links:		$clr_primary_linkoverlay;
	} @else if $_type == "secondary" {
		$_background:	$clr_secondary;
		$_text:			$clr_secondary_textoverlay;
		$_headings:		$clr_secondary_textoverlay;
		$_links:		$clr_secondary_linkoverlay;
	} @else if $_type == "tertiary" {
		$_background:	$clr_tertiary;
		$_text:			$clr_tertiary_textoverlay;
		$_headings:		$clr_tertiary_textoverlay;
		$_links:		$clr_tertiary_linkoverlay;
	} @else if $_type == "highlight" {
		$_background:	$clr_highlight;
		$_text:			$clr_highlight_textoverlay;
		$_headings:		$clr_highlight_textoverlay;
		$_links:		$clr_highlight_linkoverlay;
	} @else if $_type == "accent" {
		$_background:	$clr_accent;
		$_text:			$clr_accent_textoverlay;
		$_headings:		$clr_accent_textoverlay;
		$_links:		$clr_accent_linkoverlay;
	}

	background-color: $_background;
  	color: $_text;
	& >* {
		color: $_text;
	}
	h1,h2,h3,h4,h5,h6 {
		color: $_headings;
	}
	a,
	a[href] {
		color: $_links;
		border-color: $_links;
	}

}
