////
/// @group Helpers
////

/// Sets a default CSS transiations applied to 'all'
/// @param {decimal} $_speed [.1s]
@mixin transition_default($_speed: .1s) {
  -webkit-transition: all $_speed ease-in-out;
  -o-transition: all $_speed ease-in-out;
  transition: all $_speed ease-in-out;
}