////
/// @group Helpers
////

/// Set each border radius
/// @param {string} $_top_left
/// @param {string} $_top_right
/// @param {string} $_bottom_right
/// @param {string} $_bottom_left
@mixin radius_all($_top_left,$_top_right,$_bottom_right,$_bottom_left) {
	-webkit-border-radius: $_top_left $_top_right $_bottom_right $_bottom_left;
	-moz-border-radius: $_top_left $_top_right $_bottom_right $_bottom_left;
	-o-border-radius: $_top_left $_top_right $_bottom_right $_bottom_left;
	-ms-border-radius: $_top_left $_top_right $_bottom_right $_bottom_left;
	border-radius: $_top_left $_top_right $_bottom_right $_bottom_left;
}

/// Set all borders to same radius
/// @param {string} $_radius [4px]
@mixin radius($_radius: 4px) {
	-webkit-border-radius: $_radius;
	-moz-border-radius: $_radius;
	-o-border-radius: $_radius;
	-ms-border-radius: $_radius;
	border-radius: $_radius;
}

/// Set border radius to make element round
@mixin radius_round {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}