//// 
/// @group Backgrounds
////

/// Sets background property to cover
@mixin background_cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/// Sets background property to contain
@mixin background_contain {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/// Sets background property to contain
@mixin background_coverage_reset {
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
}

/// Set background-color to RGBA from HEX with HEX fallback
/// @param {string} $_hexcolor
/// @param {decimal} $_opacity
@mixin rgba_background($_hexcolor, $_opacity) {
	background-color: $_hexcolor;
	background-color: rgba($_hexcolor, $_opacity); 
}
