////
/// @group Shadows
////

/*
	box-shadow: inset horizontal-length vertical-length blur-radius spread color;

	inset : null / 'inset'
	horizontal-length : int
	vertical-length : int
	blur-radius : int
	spread : int
	color : hex / rgb
*/

/// Set standard shadow at bottom of element
@mixin shadow_bottom {
	-webkit-box-shadow: 0 1px 1px 0 rgba(183,183,183,.5);
	box-shadow: 0 0 1px 1px rgba(183,183,183,.1);
}
/// Set standard shadow at top of element
@mixin shadow_top {
	-webkit-box-shadow: 0 -10px 25px 0 rgba(152,152,152,.5);
	box-shadow: 0 -10px 25px 0 rgba(152,152,152,.5);
}
/// Set standard shadow at left of element
@mixin shadow_left {
	-webkit-box-shadow: -10px 0px 30px 0 rgba(152,152,152,.4);
	box-shadow: -10px 0px 30px 0 rgba(152,152,152,.4);
}
/// Set highlight state shadow for navigation
@mixin shadow_nav_highight {
	-webkit-box-shadow: 0 2px 25px 0 rgba(209,186,255,1);
	box-shadow: 0 2px 25px 0 rgba(209,186,255,1);
}

/// Set highlight state shadow for content panel
@mixin shadow_panel {
	-webkit-box-shadow: 0 -10px 30px 0 rgba(203,203,203,.5);
	box-shadow: 0 -10px 30px 0 rgba(203,203,203,.5);
}
