////
/// @group Helpers
////


/// sets tap colour on touch devices
/// @param {Hex} $_color [$clr_tap]
@mixin tap_highlight($_color: $clr_tap) {
	-webkit-tap-highlight-color: $_color;
}

/// Make visible for assistive tech only
@mixin sr_only {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}