#header {
	@include flexbox;
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	// @include justify-content(space-between);
	
	@include media(">medium") {
		padding: map-get($spacings, default);
		padding-right: 0;
	}

	h1 {
		@include flex(1 1 auto);

		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include align-items(center);
		padding: 5px map-get($spacings, default);

		a {
			position: relative;
			display: inline-block;
			border: 0;

			&:after { // Hack to show correct mouse cursor and allow interaction on SVGs
				content: ""; 
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left:0;
			}
		}

		.title_wrap {
			@include flex(0 1 auto);

			.attribution {
				display: inline-block;
				white-space: nowrap;
				
				object,
				img {
					display: inline-block;
					width: 70px;
					height: 13px;
					vertical-align: middle;
					margin: 0 0 0 5px;
				}
			}
		}

		.sponsor {
			display: none;
		}

		.attribution,
		.sponsor {
			@include font_size(6);
			font-family: $font_body;
			font-weight: map-get($font_weights, medium);
			color: $clr_body;
			vertical-align: middle;
		}

		@include media(">510px") {
			padding-left: map-get($spacings, small);
			@include justify-content(space-between);

			.title_wrap {
				@include flex(1 1 auto);
				@include flexbox;
				@include flex-direction(column);
				@include flex-wrap(nowrap);
				@include align-items(flex-start);

				.attribution {
					margin-top: 5px;
				}
			}

			.sponsor {
				@include flex(1 0 auto);

				@include flexbox;
				@include flex-direction(column);
				@include flex-wrap(nowrap);
				@include align-items(flex-start);

				margin-left: map-get($spacings, small);

				object,
				img {
					display: inline-block;
					width: 84px;
					height: 28px;
					vertical-align: middle;
				}
			}
		}
		@include media(">small") {
			.attribution,
			.sponsor {
				@include font_size(8);
			}
		}
		@include media(">medium") {

			.title_wrap {
				@include flex(1 1 auto);
				@include flex-direction(row);
				@include flex-wrap(nowrap);
				@include align-items(center);

				.attribution {
					margin-left: map-get($spacings, small);

					object,
					img {
						width: 150px;
						height: 28px;
					}
				}
			}
			
			.attribution,
			.sponsor {
				@include font_size(14);
			}
		}
		@include media(">1200px") {
			justify-content: (flex-start);

			.title_wrap {
				@include flex(0 1 auto);
			}
			.sponsor {
				@include flex(0 1 auto);
				@include flex-direction(row);
				@include flex-wrap(nowrap);
				@include align-items(center);
				margin-left: map-get($spacings, small);
				padding-left: map-get($spacings, small);
				border-left: 1px solid $clr_highlight;
				padding-top: 3px;

				a {
					margin-left: map-get($spacings, small);
				}
			}
		}
	}
	nav {
		@include flex(1 0 auto);

		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		max-width: 300px;

		ul {
			@extend %navigation;

			li {

				a {
					margin-top: - map-get($spacings, default);
					margin-bottom: - map-get($spacings, default);
					padding: map-get($spacings, default);
					padding-bottom: map-get($spacings, default) / 2 ;
				}
			}
		}
	}
}