.overlay {
	display: none;
	
	position: absolute;
	top: 0;
	right: 0;
	@include set_z_index('sticky');
	padding: map-get($header_heights, default) 0 map-get($footer_heights, default) 0;
	min-height: 100%;
	width: 100%;
	@include rgba_background(#E7E7E7,.8);

	@include media(">small") {
		padding-top: map-get($header_heights, small);
		padding-bottom: map-get($footer_heights, small);
	}

	.inner {
		margin: 0 auto;
		padding: 2em map-get($spacings, default);

		@include media(">small") {
			padding-left: map-get($spacings, small);
			padding-right: map-get($spacings, small);
		}
		@include media(">large") {
			padding-left: map-get($spacings, large);
			padding-right: map-get($spacings, large);
		}
	}

	h2 {
		text-align: center;
	}
}

.panels {
	padding-top: map-get($spacings, default);

	@include media(">small") {
		padding-top: map-get($spacings, small);
		margin-bottom: - map-get($spacings, medium);
	}
	@include media(">medium") {
		padding-top: map-get($spacings, medium);
		margin-bottom: - map-get($spacings, large);
	}

	.panel {
		margin: 0 0 map-get($spacings, default) 0;
		padding: map-get($spacings, small) map-get($spacings, default);
		background: white;
		@include radius(12px);
		@include shadow_panel;

		@include media(">small") {
			padding: map-get($spacings, medium) map-get($spacings, small);
			margin-bottom: map-get($spacings, medium);
		}
		@include media(">medium") {
			padding: map-get($spacings, medium);
			margin-bottom: map-get($spacings, large);
		}

		h2 {
			text-align: left;
		}
	}
	#about &,
	#charts & {
		@include media(">medium") {

			@include flexbox;
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			.panel {
				@include flex(0 0 auto);
				width: 48%;
			}

		}		
	}
}

%navigation {
	@include flex(1 0 auto);
	width: 100%;

	@include flexbox;
	@include flex-direction(row);
	@include flex-wrap(nowrap);

	list-style: none;
	margin: 0 auto;
	padding: 0;

	li {
		@include flex(1 0 auto);

		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(nowrap);

		margin: 0;
		padding: 0;
		border-left: 1px solid $clr_highlight;
		text-transform: capitalize;

		@include set_fontsize($type_map_body_tiny);
		font-weight: map-get($font_weights, medium);
		text-align: center;

		a {
			position: relative;
			@include flex(1 0 auto);

			@include flexbox;
			@include flex-direction(column);
			@include flex-wrap(nowrap);
			@include justify-content(space-around);

			color: $clr_body;
			text-decoration: none;
			border: 0;
			padding: 5px 5px 0 5px;

			.icon {
				display: block;
				width: 23px;
				height: 23px;
				margin: 0 auto;
				background-repeat: no-repeat;
				background-position: center center;
				@include background_contain;
			}
			// object,
			// img {
			// 	display: block;
			// 	margin: 0 auto;
			// 	width: 23px;
			// 	height: 23px;
			// }

			&:hover,
			&:active,
			&:focus {
				background: lighten($clr_tertiary,10%);
				color: $clr_tertiary_textoverlay;
			}

			&:after { // Hack to show correct mouse cursor and allow interaction on SVGs
				content: ""; 
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left:0;
			}
			
		}

		&.selected a {
			background: $clr_primary;
			color: $clr_primary_textoverlay;
		}

		.extended {
			display: none;
		}

		@include media(">small") {
			text-transform: none;

			.extended {
				display: inline;
			}

		}

	}

	#map_names_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_map_pin.svg);
	}
	.selected #map_names_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_map_pin_light.svg);
	}

	#map_icons_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_building.svg);
	}
	.selected #map_icons_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_building_light.svg);
	}

	#map_bonds_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_bonds_marker.svg);
	}
	.selected #map_bonds_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_bonds_marker_light.svg);
	}

	#map_charts_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_globe.svg);
	}
	.selected #map_charts_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_globe_light.svg);
	}

	#map_reset_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_reset.svg);
	}
	.selected #map_reset_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_reset_light.svg);
	}

	#download_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_download.svg);
	}
	.selected #download_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_download_light.svg);
	}

	#about_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_info.svg);
	}
	.selected #about_toggle .icon {
		background-image: url(#{$path_assets}/Assets/img/icons/icon_info_light.svg);
	}

}