html,body {
	margin: 0;
	
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Set HTML5 elements to block level */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  @include wrap_text;
}
pre {
	width: 100%;
	overflow: auto;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) { 
	overflow: hidden; 
}

b,
strong {
  font-weight: inherit;
}
/* Add the correct font weight in Chrome, Edge, and Safari */
b,
strong {
  font-weight: bolder;
}

em, i {
	font-style: italic;
}
ins { 
	background-color:#ff9; 
	text-decoration:none; 
}
mark { 
	background-color:#ff9; 
	font-style:italic; 
	font-weight:bold; 
}
del { 
	text-decoration: line-through; 
}
small { 
	font-size:85%; 
}
sub { 
	vertical-align: sub; 
	font-size: smaller; 
}
sup { 
	vertical-align: super; 
	font-size: smaller;
}