
#header {
	position: fixed;
	@include set_z_index('nav');
	top: 0;
	left: 0;
	width: 100%;
	height: map-get($header_heights, default);
	background: white;
	@include shadow_bottom();

	overflow: hidden; // Remove when layout is sorted?

	@include media(">small") {
		height: map-get($header_heights, small);
	}
}
#tools {
	position: fixed;
	@include set_z_index('nav');
	left: 0;
	bottom: 0;
	width: 100%;
	height: map-get($footer_heights, default);
	background: white;
	@include shadow_bottom();

	@include media(">small") {
		height: map-get($footer_heights, small);
	}
}

#map {
	position: fixed;
	@include set_z_index('mid');
	top: map-get($header_heights, default);
	left: 0;
	bottom: map-get($footer_heights, default);
	width: 100%;

	@include media(">small") {
		top: map-get($header_heights, small);
		bottom: map-get($footer_heights, small);
	}	
}
#map_info_panel {
	// Inherits .overlay
	display:none;

	.panel, .panels {
		position: relative;
	}
	.close_info {
		position: absolute;
		top: -10px;
		right: 0;
	}
	.inner {
		max-width: 100%;

		table {
			font-size: 15px;

			tr {
				border-bottom: 1px solid #ddd;

				&:last-of-type {
					border: 0;
				}

				td {
					&:first-child {
						font-weight: bold;
					}
				}
			}
		}
	}
	@include media(">medium") {
		width: 40%;
		@include shadow_left();

		h2 {
			text-align: left;
		}
	}

}
#about {
	// Inherits .overlay
	display: block;

	.intro-chart {
		max-width: 50%;
		float: right;
		margin: 0 0 20px 20px;
	}
}
