#tools {
	@include flexbox;
	@include flex-direction(row);
	@include flex-wrap(nowrap);

	@include media(">medium") {
		padding: map-get($spacings, default) 0;
	}

	ul {
		opacity: 0;
		@extend %navigation;
		
		max-width: 660px;

		li {
			width: 20%;
			
			&:first-child {
				border: 0;
			}

			@include media(">small") {

				a {

					&:hover,
					&:active,
					&:focus {
						background: transparent;
						color: $clr_body;

						.icon {
							position: relative;
							top: -4px;
							margin-bottom: -2px;
						}
					}	
				}
				&.selected a {
					background: transparent;
					color: $clr_body;

					.icon {
						position: relative;
						top: -39px;
						width: 56px;
						height: 56px;
						margin-bottom: -35px;
						background-color: $clr_primary;
						color: $clr_primary_textoverlay;
						@include radius_round;
						@include shadow_nav_highight;
					}
					object,
					img {
						position: relative;
						top: 16px;
						left: 1px;
					}
				}
				&.selected .icon {
					@include background_coverage_reset;
				}

			}

		}

	}

	#social_share {
		display: none;

		position: absolute;
		left: map-get($spacings, small);
		top: -50px;

		@include media(">small") {
			display: block;
		}
		@include media(">1100px") {
			left: auto;
			right: map-get($spacings, small);
			top: 25px;
		}
	}
}