// Legislation icons

.legislation_icons, .legislation_icons_data {
	position: absolute;
	top: 100px;
	@include set_z_index('top');
	
	@include flexbox;
	@include flex-direction(row);
	@include flex-wrap(nowrap);
		@include justify-content(center);
	width: 1px;

	&.legislation_icons_data {
		top: -50px;
		right: 0;
		width: auto;
	}
	ul {
		@include flex(0 0 auto);

		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(nowrap);

		list-style: none;
		margin: -15px 0 0 0;
		padding: 0;
		background: $clr_secondary;
		padding: 10px;
		overflow: hidden;
		border-radius: 50px;
		color: $clr_secondary_textoverlay;

		li {
			@include flex(0 0 auto);

			// float: left;
			line-height: 0;
			background-repeat: no-repeat;
			background-position: center center;
			@include background_cover;
			width: 20px;
			height: 20px;
			margin: 0 5px 0 0;
			padding: 0;

			&.legislation_mortgage {
				background-image: url(#{$path_assets}/Assets/img/markers/icon_house.svg);
			}
			&.legislation_publicSector{
				background-image: url(#{$path_assets}/Assets/img/markers/icon_public.svg);
			}
			&.legislation_movableAssets {
				background-image: url(#{$path_assets}/Assets/img/markers/icon_moveable.svg);
			}
			&.legislation_specialPrinciple {
				background-image: url(#{$path_assets}/Assets/img/markers/icon_bank.svg);
			}
			&.legislation_liabilityMatching {
				background-image: url(#{$path_assets}/Assets/img/markers/icon_compare.svg);
				width: 30px;
			}
			&.legislation_coverPool {
				background-image: url(#{$path_assets}/Assets/img/markers/icon_additional_user.svg);
			}
			&.legislation_ltvRatio {
				background-image: url(#{$path_assets}/Assets/img/markers/icon_percentage.svg);
				width: 27px;

				span {
				    font-size: 12px;
				    font-weight: map-get($font_weights, light);
				    line-height: 20px;
					color: $clr-secondary;
				    vertical-align: middle;
				    margin-left: 3px;
				}

			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}	
}
.legislation_icons_key, 
.map_colors {
	@extend .legislation_icons;
	position: static;
	display: block;
	float: left;
	width: 45%;

	ul {
		background: none;
		display: block;
		overflow: visible;
		border-radius: 0;
		padding-top: 30px;

		li {
			background: $clr_secondary;
			padding: 20px;
			float: none;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 50%;
			margin-bottom: 10px;
			position: relative;

			span {
				position: absolute;
				width: 200px;
				color: #4C4F59;
				top: 10px;
				left: 50px;
				font-size: 12px;
				line-height: 16px;
			}
		}
		&:nth-of-type(2) {
			float: left;
			border-bottom: 0;
		}
	}
	.key_cb_data {
		width: 60px;
		height: 60px;
		background: #000;
		position: relative;
		top: 30px;
		border-radius: 50%;
		margin-bottom: 20px;
		float: left;

		span {
			position: absolute;
			border-radius: 50%;
			top: 10px;
			left: 10px;
			width: 40px;
			height: 40px;
			background: #ddd;
		}
	}
	li.key_cbOutstanding {
		border: 1px solid #ccc;
	}
}
.map_colors {

	ul {
		border-bottom: 1px solid #ccc;
		
		li {
			background: #ccc;
		}
	}
}